.common-pagination{
  text-align: right;
	/* text-align: right;
	/deep/ .el-pagination{
		color:#2389d9;
	}
	/deep/ .el-input__inner{
		border:1px solid #255985;
		background-color:#142e50;
		color:#4fb7ff;
	}
	/deep/ .el-pager li{
		background-color:#142d54;
	}
	/deep/ .btn-prev {
		color:#2389d9;
		background-color:#142e50;
	}
	/deep/ .btn-next {
		color:#2389d9;
		background-color:#142e50;
  }
  .el-pagination button:disabled{
    color:#2389d9;
		background-color:#142e50;
  }
	/deep/ .el-pagination__total{
		color:#4fb7ff;
	}
	/deep/ .el-pagination__jump{
		color:#4fb7ff;
  }
  /deep/ .el-pager li.btn-quicknext, .el-pager li.btn-quickprev{
    color:#4fb7ff;
  } */


  span.el-pagination__total {
    color: #2b82d3;
  }
  input.el-input__inner {
    background-color: rgba(44, 149, 240, 0.1);
    border: 1px solid #285e8c;
    color: #2f96ef;
  }
  .el-pagination button:disabled {
    color: #1f5bd3;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pager li {
    color: #2f96ef;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pager li.active {
    color: #fff;
    cursor: default;
  }
  .el-select .el-input .el-select__caret {
    color: #1f5bd3;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    color: #1f5bd3;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pagination .btn-prev {
    color: #1f5bd3;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pagination__jump {
    color: #2b82d3;
  }

}

.common_select{
  input.el-input__inner {
    background-color: rgba(44, 149, 240, 0.1);
    border: 1px solid #285e8c;
    color: #2f96ef;
  }
  .el-select .el-input .el-select__caret {
    color: #1f5bd3;
  }
}
.el-select-dropdown__wrap.el-scrollbar__wrap{
  margin-bottom: -20px !important;
  margin-right: -20px !important;
}
.el-select-dropdown__list {
  padding: 0 !important;
}
.el-select-dropdown {
  border: 1px solid #409eff !important;
  background-color: rgba(20, 43, 81, 0.92) !important;
}
.popper__arrow {
  border-bottom-color: #409eff !important;
  border-top-color: #409eff !important;
}
.popper__arrow::after {
  border-bottom-color: rgba(0, 2, 6, 0.25) !important;
  border-top-color: rgba(0, 2, 6, 0.25) !important;
}
.el-select-dropdown__item {
  color: #fff !important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: rgba(49, 160, 255, 0.48) !important;
}
.el-input__inner {
    height: 30px !important;
    line-height: 30px !important;
}
.el-input__icon {
    line-height: 23px !important;
}