.common-pagination{
  text-align: right;
  span.el-pagination__total {
    color: #2b82d3;
  }
  input.el-input__inner {
    background-color: rgba(44, 149, 240, 0.1);
    border: 1px solid #285e8c;
    color: #2f96ef;
  }
  .el-pagination button:disabled {
    color: #1f5bd3;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pager li {
    color: #2f96ef;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pager li.active {
    color: #fff;
    cursor: default;
  }
  .el-select .el-input .el-select__caret {
    color: #1f5bd3;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    color: #1f5bd3;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pagination .btn-prev {
    color: #1f5bd3;
    background-color: rgba(44, 149, 240, 0.1);
  }
  .el-pagination__jump {
    color: #2b82d3;
  }

}

.common_select{
  input.el-input__inner {
    background-color: rgba(44, 149, 240, 0.1);
    border: 1px solid #285e8c;
    color: #2f96ef;
  }
  .el-select .el-input .el-select__caret {
    color: #1f5bd3;
  }
}
.el-select-dropdown__wrap.el-scrollbar__wrap{
  margin-bottom: -20px !important;
  margin-right: -20px !important;
}
.el-select-dropdown__list {
  padding: 0 !important;
}
.el-select-dropdown {
  border: 1px solid #409eff !important;
  background-color: rgba(20, 43, 81, 0.92) !important;
}
.popper__arrow {
  border-bottom-color: #409eff !important;
  border-top-color: #409eff !important;
}
.popper__arrow::after {
  border-bottom-color: rgba(0, 2, 6, 0.25) !important;
  border-top-color: rgba(0, 2, 6, 0.25) !important;
}
.el-select-dropdown__item {
  color: #fff !important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: rgba(49, 160, 255, 0.48) !important;
}
.el-input__inner {
    height: 30px !important;
    line-height: 30px !important;
}
.el-input__icon {
    line-height: 23px !important;
}

//日期start-----------------
.el-input__inner{
  background-color: rgba(44,149,240,.1);
  border: 1px solid #285e8c;
  color: #2f96ef;
}
.el-picker-panel{
  background-color: rgba(9,20,40,0.9);
  border: 1px solid #7ed9f1;
}
.el-date-table td.disabled div{
  background-color: #0f1e38!important;
}
.el-date-table th{
  border-bottom: solid 0px #ebeef5;
}
.el-date-picker__header-label,.el-date-table th,.el-date-table td.available{
  color: #fff;
}
.el-date-table td.next-month, .el-date-table td.prev-month{
  color:#858486;
}
.el-picker-panel__icon-btn{
  color:#2ad1ed;
}
.el-date-picker__editor-wrap .el-input__inner{
  background-color: rgba(49, 160, 255, 0.48) !important;
  color: #ffffff;
  border: 0px solid #dcdfe6;
}
.el-picker-panel__footer{
  background-color: rgba(0,0,0,0);
  border-top: 0px solid #e4e4e4;
  .is-plain{
    background-image: linear-gradient(to top, rgb(76, 221, 237), rgb(0, 136, 254));
    border: 0px solid #dcdfe6;
  }
}
.el-date-picker__editor-wrap .el-time-panel{
  background-color: rgba(9,20,40,0.9);
  .el-time-spinner__item{
    color:#fff
  }
  .el-time-spinner__item:hover:not(.disabled):not(.active){
    background-color: rgba(49, 160, 255, 0.48) !important;;
  }
}
.el-time-panel__footer{
  border-top: 0px solid #e4e4e4;
  .cancel{
    color:#fff
  }
}


//日期end